
<!DOCTYPE html>
<html>
<head>
<meta property="og:title" content="European Travel Destinations">
<meta property="og:description" content="Offering tour packages for individuals or groups.">
<meta property="og:image" content="http://euro-travel-example.com/thumbnail.jpg">
<meta property="og:url" content="http://euro-travel-example.com/index.htm">    <link rel="stylesheet" href="~/Content/reset.css" />
    <link rel="stylesheet" href="~/Scripts/Assets/Webfonts/styles/all.css" />
    <link rel="stylesheet" href="~/Content/nav.css" />
    <link rel="stylesheet" href="~/Content/carView.css" />
    <link rel="stylesheet" href="~/Content/gallery.css" />
    <link rel="stylesheet" href="~/Content/footer.css" />

    <script type="text/javascript" src="~/Scripts/Assets/jquery/dist/jquery.min.js"></script>
    
    
</head>
<body>
    <nav id="Nav">
        <a href="/">
            <img src="~/Scripts/Assets/Images/tulu-logo_white.png" alt="">
        </a>
        <div class="menuButton" onclick="slideMenu()">
            <i class="fas fa-bars fa-2x menuBtn"></i>
            <i class="fas fa-times fa-2x closeMenuBtn"></i>
        </div>
    </nav>

    <div id="SideMenu" class="sideMenu">
        <ul class="menu">
            <li class="menuItems">
                <p class="menuDropDownTitle">
                    <a href="/Home/About">About Us</a>
                </p>
            </li>
            <li class="menuItems">
                <p class="menuDropDownTitle">

                    <a href="/Home/Shop">Shop</a>
                </p>
            </li>
            <li class="menuItems">
                <p class="menuDropDownTitle" onclick="accountSubMenu()">
                    My Account
                    <i class="fas fa-sort-down accountDropMenuBtn"></i>
                </p>
                <ul class="accountSubMenuList">
                    @if (User.Identity.IsAuthenticated) {
                        <li class="subMenuListLink">
                            <a href="/account/signout">Log Out</a>
                        </li>
                    } else {
                        <li class="subMenuListLink">
                            <a href="/home/dashboard">Sign In</a>
                        </li>
                        <li class="subMenuListLink">
                            <a href="https://tulucanadab2c.b2clogin.com/tulucanadab2c.onmicrosoft.com/B2C_1_tulusignupsignin/api/CombinedSigninAndSignup/unified?local=signup&csrf_token=VEpCMVAzL1hEQXdSS3Q2QnRiNnIzL05uRFJZRUprUTRsYUoxeGxEckw4cVRJREpzUUpQbVVwd1dLVmpIWTBiVFNKbWo1TUxoWjN2NDdCSlovQzZhd2c9PTsyMDIxLTAxLTI4VDA0OjQxOjA1Ljc5NjI3NTJaOy9JME9lbkRXbWZxZjlYVTFZQjVNTXc9PTt7Ik9yY2hlc3RyYXRpb25TdGVwIjoxfQ==&tx=StateProperties=eyJUSUQiOiI5OWUxYThjOS01ODE4LTQ3MWUtODg1NS02MzUyOWJhOTgxNTEifQ&p=B2C_1_tulusignupsignin">Register</a>
                        </li>
                    }
                </ul>
            </li>
            <li class="menuItems">
                <a href="/Home/InfluencerList">Influencers</a>
            </li>

            <li class="menuItems">
                <a href="/Home/DealershipList">Dealerships</a>
            </li>
            <li class="menuItems">
                <a onclick="/">
                    <button class="influencerBtn">Become an Influencer</button>
                </a>
            </li>
        </ul>
    </div>
    <div class="container body-content">

        <!-- Vendor -->
        <div id="carVendor" class="carVendor">
            <a href="/Home/Vendor">
                <div class="userImage">
                    <i class="fas fa-user fa-2x"></i>
                </div>
            </a>
            <div class="userInfo">
                <h3 class="userName">
                    Company
                </h3>
                <p class="userActiveListingCount">
                    5 Active Listing
                </p>
            </div>
        </div>

        <!-- VEHICLE INFO -->
        <section id="Vehicles" class="vehicles">
            <div class="carDetails">
                <img src="' + vehicle.links[0].url + '" class="carImage" alt="car-image">
                <div class="carTitle">
                    <h2 class="carName"></h2>
                    <p class="carPrice"></p>
                </div>
                <div class="carGallery">
                    <ul id="carImageList" class="lightbox-gallery carImageList">
                        <li class="carImageListItems">
                            <img class="carThumbnail" src="' + vehicle.links[0].url + '" data-image-hd="' + vehicle.links[0].url + '">
                        </li>
                    </ul>
                </div>
                @if (User.Identity.IsAuthenticated) {
                    <button onclick="bookAppointment();" class="bookAppointment">Book an appointment</button>
                } else {
                    <div class="BookContainer">
                        <p>Book an appointment?</p>
                        <div class="signInBtn">
                            <a href="/home/dashboard">Sign In!</a>
                        </div>
                    </div>
                }
            </div>
            <div class="carSpecsBox">
                <div class="carSpecsCol">
                    <ul class="carSpecs">
                        <li class="carInfo">
                            <p>Condition</p>
                            <p></p>
                        </li>
                        <li class="carInfo">
                            <p>Year</p>
                            <p class="year"></p>
                        </li>
                        <li class="carInfo">
                            <p>Make</p>
                            <p class="make"></p>
                        </li>
                        <li class="carInfo">
                            <p>Model</p>
                            <p class="model"></p>
                        </li>
                        <li class="carInfo">
                            <p>Color</p>
                            <p class="color"></p>
                        </li>
                        <li class="carInfo">
                            <p>Body Type</p>
                            <p class="bodyType"></p>
                        </li>
                    </ul>
                    <ul class="carSpecs">
                        <li class="carInfo">
                            <p>Engine</p>
                            <p class="engine"></p>
                        </li>
                        <li class="carInfo">
                            <p>Drivetrain</p>
                            <p class="driveType"></p>
                        </li>
                        <li class="carInfo">
                            <p>Transmission</p>
                            <p class="transmission"></p>
                        </li>
                        <li class="carInfo">
                            <p>Fuel Type</p>
                            <p class="fuel"></p>
                        </li>
                        <li class="carInfo">
                            <p>Kilometers</p>
                            <p class="mileage"></p>
                        </li>
                        <li class="carInfo">
                            <p>Trim</p>
                            <p class="trim"></p>
                        </li>
                        <li class="carInfo">
                            <p>Accidents</p>
                            <p></p>
                        </li>
                    </ul>
                </div>
                <div class="infoBoxVN">
                    <div class="carInfoVin">
                        <p>VIN#:</p>
                        <p class="vin"></p>
                    </div>
                    <div class="carInfo carInfoNotes">
                        <p>Notes:</p>
                        <p class="notes"></p>
                    </div>
                </div>
            </div>
        </section>

        <!-- SHARE BUTTON -->

        <section class="shareSection" id="shareSection">
            <div class="ShareContainer">
                <p>Share This Listing</p>
                <div class="shareBtnContainer" id="shareBtnContainer">
                    @if (User.Identity.IsAuthenticated) {

                        <script>
                            var url = window.location.href;
                            var fbBtn = '';
                            fbBtn += '<a class="facebookButton"  onclick="ShareVehicle()" href="https://www.facebook.com/sharer/sharer.php?u=' + url + '" target="_blank">';
                            fbBtn += '     Share on Facebook';
                            fbBtn += '</a>';
                            $("#shareBtnContainer").append(fbBtn);
                        </script>
                    } else {
                        <div class="signInBtn">
                            <a href="/test">Sign In!</a>
                        </div>
                    }
                </div>
            </div>
        </section>
    </div>
    <footer>
        <ul class="footerList">
            <li class="footerListItem">
                <a href="/Home/About">
                    <h4>About</h4>
                </a>
            </li>
            <li class="footerListItem">
                <a href="/">
                    <h4>Partners</h4>
                </a>
                <ul class="footerSubLinkList">
                    <li class="SubLinkListItem">
                        <a href="/Home/DealershipList">Dealerships</a>
                    </li>
                </ul>
            </li>
            <li class="footerListItem">
                <a href="/">
                    <h4>Customer Support</h4>
                </a>
                <ul class="footerSubLinkList">
                    <li class="SubLinkListItem">
                        <a href="/">FAQ</a>
                    </li>
                    <li class="SubLinkListItem">
                        <a href="/">Feedback and Comments</a>
                    </li>
                    <li class="SubLinkListItem">
                        <a href="/Home/Contact">Contact Us</a>
                    </li>
                </ul>
            </li>
        </ul>
    </footer>
    <div id="fb-root"></div>
    


</body>
<script src="~/Scripts/Assets/Js/sideMenu.js"></script>

<script type="text/javascript">
    var vin = '';
    var dealerId = '';
    var tuluId = '';
    window.onload = function () {

        var hash;
        var hashes = window.location.href.slice(window.location.href.indexOf("?") + 1).split("&");
        
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split("=");
            if (hash[0] === "dealerId") {
                dealerId = hash[1];
            } else if (hash[0] === "vin") {
                vin = hash[1];
            } else if (hash[0] === "tuluId") {
                tuluId = hash[1];
            }
        }
        GetPageVehicle(vin, dealerId);


    }


    function GetPageVehicle(vin, dealerId) {
        GetVehicle(vin, dealerId).then(function (vehicle) {
            //alert(JSON.stringify(vehicle));
            console.log(vehicle);
            populateVehicle(vehicle);
        });
    }

    function bookAppointment() {
        window.location = "/Home/booking?vin=" + vin + "&dealerId=" + dealerId + "&tuluId=" + tuluId;
    }

    function populateVehicle(vehicle) {
        //var html = ""

        createMetaTags(vehicle);
       
        $('.carImage').attr("src",vehicle.links[0].url);
        $('.carName').html(vehicle.year+' '+vehicle.make+' '+vehicle.model);
        $('.carThumbnail').attr("src",vehicle.links[0].url);
        $('.carPrice').html(vehicle.msrp);
        $('.year').html(vehicle.year);
        $('.make').html(vehicle.make);
        $('.model').html(vehicle.model);
        $('.color').html(vehicle.colorName);
        $('.bodyType').html(vehicle.bodyType);
        $('.engine').html(vehicle.engineName);
        $('.driveType').html(vehicle.driveType);
        $('.transmission').html(vehicle.transmissionName);
        $('.fuel').html(vehicle.fueltype);
        //$('.mileage').html(vehicle.);
        $('.trim').html(vehicle.trim);
        $('.vin').html(vehicle.vin);
        $('.note').html(vehicle.notes);

        

        //$("#Vehicles").empty();
        //$("#Vehicles").append(html);

        //var url = window.location.href;
        //var facebookButton = '';
        //facebookButton += '';
        //facebookButton += '<div class="fb-share-button" data-href="' + url +'"data-layout="button_count" ><i class="fab fa-facebook fbIcon fa-2x" data-href="'+url+'" data-layout="button_count"></i>';
        //facebookButton += '<i class="fab fa-facebook-messenger messerngerIcon fa-2x"></i>';
        //facebookButton += '<i class="fas fa-link linkIcon fa-2x"></i>';
        //$("#shareBtnContainer").empty();
        //$("#shareBtnContainer").append(facebookButton);
    }

    function createMetaTags(vehicle) {
        var metaTags = '';
        metaTags +='';
        metaTags += '<meta property="og:type"               content="article" />';
        metaTags += '<meta property="og:title"              content="TULU - ' + vehicle.year + ' ' + vehicle.make + ' ' + vehicle.model +'" />';
        metaTags += '<meta property="og:description"        content="Test Description" />';
        metaTags += '<meta property="og:image"              content="' + vehicle.links[0].url + '" />';

        <meta property="og:title" content="Covidxix Web App">
        <meta property="og:description" content="Monitoring Daily Updates of the Corona Virus">
        <meta property="og:url" content="https://covidxix.netlify.com/">
        <meta property="og:image" content="./img/corona.jpg">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1024">
        <meta property="og:image:height" content="1024">



        $("head").append(metaTags);
    }

    async function GetVehicle(vin, dealerId) {
        var obj = new Object();
        obj.vin = vin;
        obj.dealerId = dealerId;
        const results = await $.ajax({
            type: "PUT",
            url: "/Vehicle/Get",
            data: obj,
            cache: false,
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            success: function (results) { },
            error: function (results) { console.log(results.statusText); },
        });
        return results;
    }

    //Facebook

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


    function ShareVehicle() {
        var obj = new Object();
        obj.vin = vin;
        obj.dealerId = dealerId;
        $.ajax({
            type: "PUT",
            url: "/Tulu/ShareVehicle",
            data: obj,
            cache: false,
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            success: function (results) {
                console.log(results);
                //populateDashboard(results);
                alert('shared!');
            },
            error: function (results) {
                alert("Error");
            },
        });
    }



</script>


<!-- Your share button code -->
@*<div class="fb-share-button"
     data-href="https://www.your-domain.com/your-page.html"
     data-layout="button_count">
</div>*@
</html>
